*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Anton",Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Anton";
    src: url(../Fonts/Anton-Regular.ttf);
    
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: brown;
   
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
   } 

a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
}

.parte-derecha,.parte-izquierda{
    width:100%;
    height:50vh;
   
}

.parte-izquierda{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    
    
}
.parte-derecha > p{
    padding: 30px;
    font-size: 20pt;
}


@media(min-width:1000px){
    main{
        flex-direction: row;
    }
    
    .parte-derecha,.parte-izquierda{
        width:50%;
        height:100vh;
    }

    nav{
        display: flex;
        justify-content: left;
    }
  
  
}




